h1{
    position: relative; top: -800px; left: 600px;
    color: #8F6E5D;
    font-weight: bolder;
}
body{
    background-color: #8F6E5D;
}

P{
    position: relative; top: 600px
}
nav{
    background-color:#8F6E5D;
}
#button{
    position: relative; top: -150px; left: 600px;
     width: 300px;
    height: 70px;
    background-color: #8F6E5D;
}

#square{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
width: 600px;
height: 300px;
position: relative; top: -580px; left: 480px;
}

